# <div style="background:rgba(53, 144, 235, 0.64); padding: 18px; border-radius: 12px; font-size: 0.8em; margin-bottom: 16px; color: #ffffffff; font-weight: bold;"> 游늵 One-Hot Encoding: Convirtiendo Categor칤as en N칰meros
</div>

<div style="background:#E8F0FE; border-left: 5px solid rgba(53, 144, 235, 0.64); padding: 12px; margin-bottom: 16px; color:#181818;">
El preprocesamiento de datos es un paso crucial en cualquier proyecto de Machine Learning. La transformaci칩n adecuada de variables categ칩ricas puede marcar la diferencia entre un modelo que funciona y uno que no.
</div>

**춰Bienvenido!** En esta presentaci칩n se abordar치:

1. 쯈u칠 es One-Hot Encoding?
2. Ejemplo Pr치ctico.
3. 쮺u치ndo NO usar One-Hot Encoding?
4. One-Hot Encoding por Frecuencias.
5. Ordinal Encoder.
6. Count or Frequency Encoding.

Referencia: cap칤tulo _Encoding Categorical Variables_ del libro _Python Feature Engineering Cookbook_ de Soledad Galli.

### **Importaci칩n de Librer칤as**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder

### **Dataset Utilizado**

Se utiliza un dataset sobre comida India obtenido de Kaggle.

In [2]:
df = pd.read_csv(
    "../../../datasets/Alumnos/lambda-09-indian_food_dataset/data/indian_food.csv"
)

X = df.copy()

# Mirar los primeros registros
X.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

## <div style="background:rgba(99, 102, 241, 0.65); padding: 18px; border-radius: 12px; font-size: 0.8em; margin-bottom: 16px; color: #ffffffff; font-weight: bold;"> 游눠 1. 쯈u칠 es One-Hot Encoding?
</div>

En el preprocesamiento de datos, **One-Hot Encoding** es una t칠cnica para **transformar variables categ칩ricas** en un formato num칠rico que los modelos de Machine Learning puedan entender y utilizar.

* **Representaci칩n Binaria:** Cada **categor칤a 칰nica** dentro de una variable se convierte en una **nueva columna del dataset**.
* **Valor:** Esta nueva columna toma un valor de **1** si la categor칤a est치 presente para esa observaci칩n, y **0** si no lo est치.

<div style="background: #FEF3C7; border-left: 5px solid #F59E0B; padding: 12px; margin-top: 12px; margin-bottom: 12px; color: #181818;">En esencia, se transforma una columna categ칩rica en m칰ltiples columnas, donde solo una de ellas tendr치 el valor 1 y el resto tendr치 valor 0.
</div>

Caracter칤sticas: 

* **Apto para Modelos Lineales:** One-Hot Encoding transforma categor칤as nominales en una representaci칩n num칠rica que modelos como la Regresi칩n Lineal o Log칤stica pueden procesar eficazmente.

* **Expande el Espacio de Caracter칤sticas:** el proceso aumenta el n칰mero de caracter칤sticas (columnas) en el *dataset*, lo que se conoce como **expansi칩n de dimensionalidad**.

## <div style="background:rgba(34, 197, 94, 0.65); padding: 18px; border-radius: 12px; font-size: 0.8em; margin-bottom: 16px; color: #ffffffff; font-weight: bold;"> 游 2. Ejemplo Pr치ctico
</div>

Seguiremos los siguientes pasos:

1. **Preparar los datos**: copiar y dividir el dataset en train/test para evitar data leakage.
2. **Seleccionar las variables categ칩ricas**: identificar qu칠 columnas necesitan ser transformadas.
3. **Crear el encoder**: instanciar `OneHotEncoder` con los par치metros deseados.
4. **Crear el ColumnTransformer**: envolver el encoder en un `ColumnTransformer`.
5. **Ajustar (fit)**: entrenar el encoder con los datos de **entrenamiento** 칰nicamente.
6. **Transformar**: aplicar la transformaci칩n tanto al conjunto de entrenamiento como al de prueba usando el encoder ya ajustado.

In [3]:
# Dividir en train/test para evitar data leakage (una buena practica que aplica el autor)
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

# Seleccionar las variables categoricas a encodear
cat_vars = ["diet"]

In [4]:
# OneHotEncoder para k-1 variables
encoder = OneHotEncoder(drop=None, sparse_output=False)

ct = ColumnTransformer(
    [("encoder", encoder, cat_vars)], remainder="passthrough"
).set_output(transform="pandas")

ct.fit(X_train)

# Mostrar las categor칤as detectadas
print("Categor칤as detectadas por el encoder:")
for col, cats in zip(cat_vars, ct.named_transformers_["encoder"].categories_):
    print(f"   Variable: {col}")
    print(f"   Categor칤as: {', '.join(cats)}")
    print(f"   Total: {len(cats)} categor칤as")

X_train_enc = ct.transform(X_train)
X_test_enc = ct.transform(X_test)

Categor칤as detectadas por el encoder:
   Variable: diet
   Categor칤as: non vegetarian, vegetarian
   Total: 2 categor칤as

In [5]:
print("\nDataset transformado (train):")

# Comparaci칩n: columna original 'diet' vs columnas generadas por el encoder
comparison_df = pd.DataFrame(
    {
        "diet_original": X_train.iloc[9:14]["diet"].values,
        "diet_non_vegetarian": X_train_enc.iloc[9:14][
            "encoder__diet_non vegetarian"
        ].values,
        "diet_vegetarian": X_train_enc.iloc[9:14]["encoder__diet_vegetarian"].values,
    }
)

comparison_df.head()

Dataset transformado (train):

    diet_original  diet_non_vegetarian  diet_vegetarian
0      vegetarian                  0.0              1.0
1  non vegetarian                  1.0              0.0
2      vegetarian                  0.0              1.0
3      vegetarian                  0.0              1.0
4      vegetarian                  0.0              1.0

In [6]:
print("\nDataset transformado (test):")

# Comparaci칩n: columna original 'diet' vs columnas generadas por el encoder
comparison_df = pd.DataFrame(
    {
        "diet_original": X_test.iloc[9:14]["diet"].values,
        "diet_non_vegetarian": X_test_enc.iloc[9:14][
            "encoder__diet_non vegetarian"
        ].values,
        "diet_vegetarian": X_test_enc.iloc[9:14]["encoder__diet_vegetarian"].values,
    }
)

comparison_df.head()

Dataset transformado (test):

    diet_original  diet_non_vegetarian  diet_vegetarian
0      vegetarian                  0.0              1.0
1      vegetarian                  0.0              1.0
2      vegetarian                  0.0              1.0
3  non vegetarian                  1.0              0.0
4      vegetarian                  0.0              1.0

## <div style="background:rgba(239, 68, 68, 0.65); padding: 18px; border-radius: 12px; font-size: 0.8em; margin-bottom: 16px; color: #ffffffff; font-weight: bold;"> 丘멆잺 3. 쮺u치ndo NO usar One-Hot Encoding?
</div>

Existe el riesgo de la **explosi칩n de dimensionalidad** y la ineficiencia que eso conlleva.

- **Alta Cardinalidad**: se crear치n muchas columnas si la variable tiene **demasiadas categor칤as 칰nicas**.

- **Variables Ordinales**: one-hot encoding ignora el orden natural de las variables categ칩ricas (ej: 'Bajo', 'Medio', 'Alto').

- **Rendimiento**: un gran n칰mero de columnas puede aumentar el consumo de memoria durante el entrenamiento.

A continuaci칩n veremos ejemplos de estos casos:

### **Ejemplo 1: Alta Cardinalidad - Variable `region`**

La variable `region` tiene muchas categor칤as 칰nicas (diferentes regiones de India), lo que genera demasiadas columnas:

In [7]:
# Ejemplo de alta cardinalidad con la variable 'region'
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

# La variable 'region' tiene muchas categor칤as 칰nicas
print(f"\nRegiones: {X_train['region'].unique()}")

# Aplicar One-Hot Encoding
cat_vars_region = ["region"]
encoder = OneHotEncoder(
    drop="first", sparse_output=False, handle_unknown="infrequent_if_exist"
)

ct = ColumnTransformer(
    [("encoder", encoder, cat_vars_region)], remainder="passthrough"
).set_output(transform="pandas")

ct.fit(X_train)
X_train_enc_region = ct.transform(X_train)

# Mostrar solo las columnas generadas por el encoder
region_cols = [
    col for col in X_train_enc_region.columns if col.startswith("encoder__region_")
]
X_train_enc_region[region_cols].head()

Regiones: ['South' 'East' 'West' 'North' '-1' 'North East' 'Central' nan]

,encoder__region_Central,encoder__region_East,encoder__region_North,encoder__region_North East,encoder__region_South,encoder__region_West,encoder__region_nan
38,0.0,0.0,0.0,0.0,1.0,0.0,0.0
143,0.0,0.0,0.0,0.0,1.0,0.0,0.0
84,0.0,1.0,0.0,0.0,0.0,0.0,0.0
55,0.0,0.0,0.0,0.0,0.0,1.0,0.0
219,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### **Ejemplo 2: Combinaci칩n de Variables categ칩ricas**

Cuando combinas m칰ltiples variables categ칩ricas, el n칰mero de columnas crece exponencialmente:

In [8]:
# Ejemplo de multiples variables combinadas
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

# Codificar m칰ltiples variables al mismo tiempo
cat_vars_multiple = ["course", "region"]

encoder_full = OneHotEncoder(drop=None, sparse_output=False)

ct_multiple = ColumnTransformer(
    [("encoder", encoder_full, cat_vars_multiple)], remainder="passthrough"
).set_output(transform="pandas")

ct_multiple.fit(X_train)
X_train_multiple = ct_multiple.transform(X_train)

# Mostrar solo las columnas del encoder
encoder_cols = [col for col in X_train_multiple.columns if col.startswith("encoder__")]

X_train_multiple[encoder_cols].head()

,encoder__course_dessert,encoder__course_main course,encoder__course_snack,encoder__course_starter,encoder__region_-1,encoder__region_Central,encoder__region_East,encoder__region_North,encoder__region_North East,encoder__region_South,encoder__region_West,encoder__region_nan
38,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
143,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
84,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
55,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
219,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

## <div style="background:rgba(245, 158, 11, 0.65); padding: 18px; border-radius: 12px; font-size: 0.8em; margin-bottom: 16px; color: #ffffffff; font-weight: bold;"> 游꿢 4. One-Hot Encoding por Frecuencias
</div>

Una forma pr치ctica de evitar la explosi칩n de dimensionalidad es codificar s칩lo las categor칤as m치s frecuentes y agrupar las dem치s.

* **Codificaci칩n Selectiva:** se crean nuevas features 칰nicamente con las regiones m치s frecuentes.

* **Agrupaci칩n de Categor칤as Raras:** se crea una columna adicional (`infrequent_sklearn`) donde se agrupan las categor칤as menos frecuentes.

* **Reducci칩n de Dimensionalidad:** esto conserva la informaci칩n de las categor칤as importantes y reduce significativamente el n칰mero de columnas creadas por el encoder.

In [9]:
# Ejemplo One-Hot por frecuencias

# Split para evitar data leakage
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

X_train["region"].value_counts(dropna=False).sort_values(ascending=False).reset_index()

       region  count
0        West     56
1       South     51
2       North     42
3        East     25
4  North East     18
5          -1      8
6     Central      3
7         NaN      1

In [10]:
encoder = OneHotEncoder(
    min_frequency=20,  # cantidad de ocurrrencias minimas
    max_categories=5,
    sparse_output=False,
).set_output(transform="pandas")

X_train_enc = encoder.fit_transform(X_train[["region"]])
X_test_enc = encoder.transform(X_test[["region"]])

# Agregar la columna region original para comparaci칩n al principio
X_test_enc.insert(0, "region_original", X_test["region"].values)
X_test_enc.head()

,region_original,region_East,region_North,region_South,region_West,region_infrequent_sklearn
190,West,0.0,0.0,0.0,1.0,0.0
6,North,0.0,1.0,0.0,0.0,0.0
79,East,1.0,0.0,0.0,0.0,0.0
205,West,0.0,0.0,0.0,1.0,0.0
117,-1,0.0,0.0,0.0,0.0,1.0

## <div style="background:rgba(14, 165, 233, 0.65); padding: 18px; border-radius: 12px; font-size: 0.8em; margin-bottom: 16px; color: #ffffffff; font-weight: bold;"> 游댝 5. Ordinal Encoder
</div>

El OrdinalEncoder asigna valores num칠ricos a categor칤as siguiendo un orden predefinido.

* **Orden Jer치rquico:** es 칰til cuando la variable tiene un **sentido de orden natural** (por ejemplo, 'Bajo' < 'Medio' < 'Alto').

* **Preserva Relaciones:** a diferencia del One-Hot Encoding, el Ordinal Encoder **mantiene la relaci칩n ordinal** entre las categor칤as.

* **Asignaci칩n Num칠rica:** cada categor칤a se mapea a un n칰mero entero seg칰n el orden especificado (0, 1, 2, etc.).

In [11]:
# Ejemplo OrdinalEncoder

# Definir el orden jer치rquico de las categor칤as
order = ["starter", "snack", "main course", "dessert"]

# Crear y aplicar el encoder
categories = [order]
enc = OrdinalEncoder(
    categories=categories,
    handle_unknown="use_encoded_value",
    unknown_value=-1,
    encoded_missing_value=-1,
).set_output(transform="pandas")

X_enc = enc.fit_transform(X[["course"]])

# Mostrar el mapeo de categor칤as a valores ordinales
print("Mapeo de categor칤as a valores ordinales:")
mapeo_df = pd.DataFrame({"Categor칤a": order, "Valor Ordinal": range(len(order))})
mapeo_df.head()

Mapeo de categor칤as a valores ordinales:

     Categor칤a  Valor Ordinal
0      starter              0
1        snack              1
2  main course              2
3      dessert              3

In [12]:
# Ejemplo con el dataset de entrenamiento mostrando la transformaci칩n

# Dividir en train/test
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

# Aplicar el encoder al conjunto de entrenamiento
X_train_enc = enc.fit_transform(X_train[["course"]])

# Crear DataFrame de comparaci칩n con algunas filas del conjunto de entrenamiento
comparison_df = pd.DataFrame(
    {
        "course_original": X_train.iloc[0:10]["course"].values,
        "course_encoded": X_train_enc.iloc[0:10]["course"].values,
    }
)

comparison_df.head()

  course_original  course_encoded
0         dessert             3.0
1     main course             2.0
2     main course             2.0
3         dessert             3.0
4         dessert             3.0

## <div style="background:rgba(236, 72, 153, 0.65); padding: 18px; border-radius: 12px; font-size: 0.8em; margin-bottom: 16px; color: #ffffffff; font-weight: bold;"> 游늵 6. Count or Frequency Encoding
</div>

El Count o Frequency Encoding reemplaza las categor칤as con el conteo o la fracci칩n de observaciones que muestran esa categor칤a.

* **Count Encoding:** reemplaza cada categor칤a con el **n칰mero de veces** que aparece en el dataset.

* **Frequency Encoding:** reemplaza cada categor칤a con la **frecuencia relativa** de observaciones.

* **Utilidad:** estos m칠todos son especialmente 칰tiles cuando existe una **relaci칩n entre la frecuencia de la categor칤a y el objetivo**. Por ejemplo, en ventas, la frecuencia de un producto puede indicar su popularidad.

* **Limitaci칩n:** si dos categor칤as diferentes tienen el **mismo n칰mero de observaciones**, ser치n reemplazadas por el mismo valor, lo que puede llevar a **p칠rdida de informaci칩n**.

In [13]:
# Count Encoding

# Dividir en train/test
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

# Calcular el conteo de cada regi칩n en el conjunto de entrenamiento
region_counts = X_train["region"].value_counts().to_dict()

# Aplicar Count Encoding
X_train_count = X_train.copy()
X_train_count["region_count"] = X_train_count["region"].map(region_counts)

print("Count Encoding:")
comparison_count = (
    X_train_count[["region", "region_count"]]
    .drop_duplicates()
    .sort_values("region_count", ascending=False)
)
comparison_count.head(7)

Count Encoding:

         region  region_count
55         West          56.0
38        South          51.0
104       North          42.0
84         East          25.0
245  North East          18.0
248          -1           8.0
253     Central           3.0

In [14]:
# Frequency Encoding

# Calcular la frecuencia de cada regi칩n (conteo / total)
region_frequency = X_train["region"].value_counts(normalize=True).to_dict()

# Aplicar Frequency Encoding
X_train_freq = X_train.copy()
X_train_freq["region_frequency"] = X_train_freq["region"].map(region_frequency)

# Mostrar
print("Frequency Encoding:")
comparison_freq = (
    X_train_freq[["region", "region_frequency"]]
    .drop_duplicates()
    .sort_values("region_frequency", ascending=False)
)
comparison_freq.head(7)

Frequency Encoding:

         region  region_frequency
55         West          0.275862
38        South          0.251232
104       North          0.206897
84         East          0.123153
245  North East          0.088670
248          -1          0.039409
253     Central          0.014778

In [15]:
# Ejemplo con el conjunto de entrenamiento

# Mostrar las primeras filas del conjunto de entrenamiento con ambos encodings
comparison_df = pd.DataFrame(
    {
        "region_original": X_train.iloc[0:10]["region"].values,
        "count_encoding": X_train_count.iloc[0:10]["region_count"].values,
        "frequency_encoding": X_train_freq.iloc[0:10]["region_frequency"].values,
    }
)

comparison_df.head()

  region_original  count_encoding  frequency_encoding
0           South            51.0            0.251232
1           South            51.0            0.251232
2            East            25.0            0.123153
3            West            56.0            0.275862
4            West            56.0            0.275862